<% var data = { title: "Заголовок | Проект" }; %> <%=
_.template(require('./../includes/header.html'))(data) %>

<div class="table__wrapper">
  <div class="table__scroll ">
    <table class="table__main">
      <thead>
        <tr class="table__head">
          <th><span class="head__title">Наименование</span></th>
          <th><span class="head__title">Стоимость</span></th>
          <th class="mobile__td-hidden">
            <span class="head__title">Рыночная капитализация</span>
          </th>
          <th class="mobile__td-hidden">
            <span class="head__title">Суточный объем </span>
          </th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
        <tr>
          <td>1, 0</td>
          <td>2, 0</td>
          <td class="mobile__td-hidden">3, 0</td>
          <td class="mobile__td-hidden">1, 0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
