$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans",
  "Helvetica Neue", sans-serif;

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

.body__wrapper {
  color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0 20px;

  background: rgba(45, 176, 224, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(45, 176, 224, 1)),
    color-stop(100%, rgba(96, 40, 168, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db0e0', endColorstr='#6028a8', GradientType=9 );
}

.table__wrapper {
  position: relative;
  width: 100%;
  margin: 0 200px;
  background: #efefef;
  border-radius: 20px;
  padding: 10px;
}

.table__body {
  width: 100%;
  display: block;
  height: 30vh;
  overflow: auto;
  visibility: hidden;
  &:hover {
    visibility: visible;
  }
}

.table__main {
  font-size: 14px;
  width: 100%;
  visibility: visible;
  tr {
    display: flex;
    width: 100%;
    visibility: visible;
    flex-wrap: nowrap;
  }
  .table__head {
    padding-right: 17px;
  }

  th,
  td {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding: 5px;
    width: 25%;
    overflow: hidden;
    &:last-child {
      border-right: none;
    }
  }
}
.table__head {
  tr {
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .table__wrapper {
    margin: 0 100px;
  }
}

@media (max-width: 768px) {
  .mobile__td-hidden {
    display: none;
  }
  .table__wrapper {
    margin: 0 auto;
  }
  .table__main {
    font-size: 16px;
    th,
    td {
      width: 50%;
      &:nth-child(2) {
        border-right: none;
      }
    }
  }
}

@media (max-width: 576px) {
   .table__head {
    text-align: center;
  }
   .table__main {
    font-size: 12px;
   }
}

